<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Discretas1-main/estructuras/img/Logo-UJAP2.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <title>Integrantes</title>
</head>

<body>
    <header>
        <div>
            <nav class="horizontal-nav">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="integrantes.html">Integrantes</a></li>
                    <li><a href="video.html">Video</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="integrantes-container">
            <h3>Equipo</h3>
            <ul class="integrantes-list">
                <li>Lai Chang CI:30.335.078</li>
                <li>Jose Guerrero CI: 31.362.279</li>
                <li>Irisbel Ruiz CI: 30.864.236</li>
            </ul>
        </div>
    </main>

    <footer>
        <section class="footer"></section>
        <div class="footer-content">
            <h5><i><b>Discretas 1©</b> all rights reserved</i></h5>
            <div class="social-icons">
                <a href="https://github.com/Jguerrero45/Discretas1"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/003123b854.js" crossorigin="anonymous"></script>
</body>

</html>