<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Discretas1-main/estructuras/img/Logo-UJAP2.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <title>Video</title>

</head>

<body style="overflow: hidden;">
    <header>
        <div>
            <nav class="horizontal-nav">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="integrantes.html">Integrantes</a></li>
                    <li><a href="video.html">Video</a></li>

                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YdKLNDIU4_o?si=qJiMVPqfsvf1wgbV"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </main>

    <footer>
        <section class="footer"></section>
        <div class="footer-content">
            <h5><i><b>Discretas 1©</b> all rights reserved</i></h5>
            <div class="social-icons">
                <a href="https://github.com/Jguerrero45/Discretas1"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/003123b854.js" crossorigin="anonymous"></script>
</body>

</html>